page-leader-board {
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
}
