<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Profil</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="userSeted == true">
		<ion-list no-lines>
			<ion-item style="text-align: center;">
				<img style="width: 60%;" src='https://api.adorable.io/avatars/285/{{userName}}.png'>
			</ion-item>
			<ion-item>
				<ion-title>{{userName}}</ion-title>
			</ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-6>
						<ion-list radio-group [(ngModel)]="difficulty">
							<ion-list-header>
								Difficulty
							</ion-list-header>
							<ion-item style="font-size: 14px;">
								<ion-label>Easy</ion-label>
								<ion-radio value="easy"></ion-radio>
							</ion-item>
							<ion-item style="font-size: 14px;">
								<ion-label>Medium</ion-label>
								<ion-radio value="medium"></ion-radio>
							</ion-item>
							<ion-item style="font-size: 14px;">
								<ion-label>Hard</ion-label>
								<ion-radio value="hard"></ion-radio>
							</ion-item>
						</ion-list>
					</ion-col>
					<ion-col col-6>
						<ion-list radio-group [(ngModel)]="type">
							<ion-list-header>
								Type
							</ion-list-header>
							<ion-item style="font-size: 14px;">
								<ion-label>Multiple choice</ion-label>
								<ion-radio value="multiple"></ion-radio>
							</ion-item>
							<ion-item style="font-size: 14px;">
								<ion-label>True / False</ion-label>
								<ion-radio value="boolean"></ion-radio>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>
			</ion-grid>

			<button ion-button (click)="playGame('online')">Play online</button>
			<br>
			<button ion-button (click)="playGame('offline')">Play offline</button>
			<br>
			<button ion-button (click)="logout()">Logout</button>
		</ion-list>

	</div>
	<div *ngIf="userSeted == false">
		<ion-item *ngIf="userSeted == false">
			<ion-label>Username</ion-label>
			<ion-input type="text" [(ngModel)]="userName"></ion-input>
			<button ion-button item-end (click)="setUser(userName)">OK</button>
		</ion-item>
	</div>
</ion-content>