<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>login</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="userSeted == true">
		<ion-list no-lines>
			<ion-item>
				<img src='https://api.adorable.io/avatars/285/{{userName}}.png'>
			</ion-item>
			<ion-item>
				<ion-title>{{userName}}</ion-title>
			</ion-item>
			<ion-item>
				<button ion-button (click)="playGame()">Play</button>
			</ion-item>
			<ion-item>
				<button ion-button (click)="deconnetion()">Déconnexion</button>
			</ion-item>
		</ion-list>

	</div>
	<div *ngIf="userSeted == false">
		<ion-item *ngIf="userSeted == false">
			<ion-label>Username</ion-label>
			<ion-input type="text" [(ngModel)]="userName"></ion-input>
			<button ion-button item-end (click)="setUser(userName)">OK</button>
		</ion-item>
	</div>
</ion-content>